version: '2.3'
services:
  staking-cli: &stakingcli
    image: block.com/staking-cli
    build:
      context: .
      dockerfile: staking-cli-docker/Dockerfile
      args:
        DATA_DIR: "/basicconfig"
        VERSION: master
        SOURCE_CODE: "https://github.com/dachengcheng2022/staking-deposit-cli.git"
        SYMBOL: CLI
    volumes:
      - ./basicconfig:/basicconfig

  ethbase: &ethbase
    image: block.com/gethbase
    build:
      context: .
      dockerfile: execution-docker-base/Dockerfile
      args:
        CONFIG_BASE_DIR: "/basicconfig"
        DATA_DIR: "/execution"
        SOURCE_CODE: "https://github.com/dachengcheng2022/go-ethereum.git"
        VERSION: release_v1.13.4
        SYMBOL: ETH
    volumes:
      - ./basicconfig:/basicconfig 
      - ./execution:/execution

  beaconbase: &beaconbase
    image: block.com/beaconbase
    build:
      context: .
      dockerfile: consensus-docker-base/Dockerfile
      args:
        CONFIG_BASE_DIR: "/basicconfig"
        VERSION: release-v4.1.1
        SOURCE_CODE: "https://github.com/dachengcheng2022/prysm.git"
        SYMBOL: BEACON
    volumes:
      - ./basicconfig:/basicconfig

  eth: &eth
    image: block.com/geth
    build:
      context: .
      dockerfile: execution-docker/Dockerfile
      args:
        PORT_RPC: 8545
        EXTIP: "190.92.198.117"
    volumes:
      - ./execution:/execution
      - ./execution-data:/data-ephemeral
      - ./basicconfig:/basicconfig

    ports:
      - 8551:8551
      - 8545:8545
      - 30303:30303

  beacon: &beacon-chain
    image: block.com/beacon-chain
    build:
      context: .
      dockerfile: consensus-docker/Dockerfile
      args:
        DATA_DIR: "/consensus"
        PEER_INFO: 
        HOST_IP: 190.92.198.117
        FEE_RECIPIENT: "0x59527F3d76F82bC4E207333D7258425f3B21CBAc"
    volumes:
      - ./consensus:/consensus
      - ./consensus-data:/data-ephemeral
      - ./basicconfig:/basicconfig
    ports:
      - 4000:4000
      - 3500:3500
      - 8080:8080
      - 13000:13000

